<template>
<nav class="bg-zinc-900 py-4">
    <div class="container py-2">
        <div class="grid grid-cols-12 gap-x-6">
            <div class="col-span-4">

            </div>
        </div>
    </div>
</nav>
</template>