<template>
<section class="bg-slate-800 h-screen px-4">
    <div class="container">
        <header class="grid grid-cols-12 md:gap-x-6">
          <h1 class="col-span-12 text-center text-2xl pt-28 pb-24 text-white md:text-6xl md:col-span-10 md:col-start-2 lg:col-span-6 lg:col-start-4">
              Stephen Fowles-White <br>Log in to CMS
          </h1>
        </header>
        <div class="grid grid-cols-12 md:gap-x-6">
            <form class="col-span-12 bg-white rounded px-8 pt-6 pb-8 mb-4 md:col-span-8 md:col-start-3 lg:col-span-6 lg:col-start-4"
                  action="/cms-admin" 
                  method="post"
                  @submit.prevent="signInHandler">
                <div class="mb-8">
                    <label class="block text-gray-700 text-sm font-bold mb-2" 
                            for="username">
                        Username
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                          :class="{ 'border-red-500' : !formStatus }" 
                          id="username" 
                          type="text" 
                          placeholder="Username"
                          v-model.lazy="form.username">
                </div>
                <div class="mb-8">
                    <label class="block text-gray-700 text-sm font-bold mb-2" 
                          for="password">
                        Password
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" 
                          :class="{ 'border-red-500' : !formStatus }"
                          id="password" 
                          type="password" 
                          placeholder="************"
                          v-model.lazy="form.password">
                    <p v-show="formStatus" 
                        class="text-xs italic">
                        Please provide the correct username and password
                    </p>
                </div>
                  <div class="flex flex-col items-start md:justify-between md:flex-row">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" 
                            type="submit">
                        Sign In
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
</template>

<script>
  export default {
      layout: 'admin',
      head() {
        return {
            title: 'Demo header page',
            meta: [
                {
                  hid: 'description',
                  name: 'description',
                  content: 'My custom description'
                }
            ]
        }
      },
      data() {
          return {
              form: {
                  username: '',
                  password: ''
              },
              formStatus: this.$store.getters.isLoggedIn
          }
      },
      methods: {
          signInHandler() {
              this.$store.commit('isLoggedInRequest', {
                  url: 'https://protfolio-cms-default-rtdb.firebaseio.com/account/user.json',
                  username: this.form.username,
                  password: this.form.password
              })
          }
      }
  }
</script>
