<template>
    <div class="container">
        <div class="grid grid-cols-12 md:gap-x-6">
            <div class="col-span-12 pt-20 pb-16">
                <h1>something might go here</h1>
            </div>
            <div class="col-span-12">
                <div class="grid grid-cols-12 md:gap-x-6">
                    <div class="col-span-12 grid grid-cols-12 md:gap-x-6">
                        <div class="col-span-3">
                            <div>
                                This is a row for add collums
                            </div>
                            <div>
                                <div>
                                    <span>Name of Page</span>
                                    <span>icon</span>
                                </div>
                            </div>
                        </div> 
                        <div class="col-span-3">
                            one with first root directory
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {{ this.$store.getters.getName }}  
    </div>
</template>

<script>

export default {
    layout: 'admin',
    head() {
      return {
          title: 'Demo header page',
          meta: [
              {
                hid: 'description',
                name: 'description',
                content: 'My custom description'
              }
          ]
      }
    }
}
</script>