<template>
<div>
    <AdminLayoutsTheHeader /> 
    <main>
        <Nuxt />
    </main>
</div>
</template>

<script>
export default {
    
}
</script>

<style lang="scss">

.container {
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
}

</style>