<template>
  <Tutorial/>
</template>

<script>
  export default {
      head() {
        return {
          title: "Website Admin",
          meta: [
              {
                hid: 'description',
                content: 'noindex' //stop page comming up on SEO
              }
            ]
        }
      }
  }
</script>
